<div class="home" ng-controller="homeCtrl" ng-init="Init()">
    <div class="row">
        <div class="col-md-5">
            <div class="card cards" >
                <!--  -->
                <img class="card-img-top img" src="../prueba/img/products-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Productos</h4>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <a href="#/producto/add" class="btn btn-primary">Agregar producto</a>
                    <a href="#/productos/list" class="btn btn-primary">Listar productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card cards">
                <!-- style="width: 20rem;" -->
                <img class="card-img-top img" src="../prueba/img/folder.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Categorias</h4>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <a href="#/categoria/add" class="btn btn-primary">Agregar categoria</a>
                    <a href="#/categorias/list" class="btn btn-primary">Listar categorias</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="../prueba/js/homeCtrl.js"></script> -->
