<div class="row justify-content-md-center" id="divLogin" ng-controller="indexCtrl" >
    <div class="col-md-6">
        <form action="" id="loginForm">
            <div class="form-group">
                <label for="txtUser" id="lblUsuer">Usuario</label>
                <input type="text" id="txtUsuario" class="form-control" placeholder="Usuario" ng-model="usuario" >
            </div>
            <div class="form-group">
                <label for="txtPass">Password</label>
                <input type="password" class="form-control" id="txtPass" placeholder="Password" ng-model="password">
            </div>
            <button id="btnlogin" class="btn btn-primary" ng-click="Ingresar()">Entrar</button>
        </form>
    </div>
</div>